<div class="wrapper">

  <div class="wrapped-div" style="max-width:1000px; width: 100%">
    <form #reqforma="ngForm" autocomplete="off" (submit)="onSubmit(reqforma)">

      <div class="row d-flex justify-content-center text-white">
        <h1>Просмотр заявки:</h1>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleFormControlSelect2">Статус</label>
            <select name="status" class="form-control" id="exampleFormControlSelect2" #executor
              [(ngModel)]="apiService.request.statusId">
              <option value="">Не распределена</option>
              <option *ngFor="let status of apiService.statuses" [value]=status.id>{{status.name}}
              </option>
            </select>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label>Жизненый цикл</label>
            <table class="table " style="color: white">
              <tr>
                <td>
                  Открыта
                </td>
                <td>
                  <p>{{gDate(apiService.request.lifecycle.opened)}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  Закрыта
                </td>
                <td>
                  <p>{{gDate(apiService.request.lifecycle.closed)}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  Распределена
                </td>
                <td>
                  <p>{{gDate(apiService.request.lifecycle.distributed)}}</p>
                </td>
              </tr>
            </table>

          </div>
        </div>
      </div>

      <div class="form-group">

        <label>Название</label>
        <div class="input-group">
          <input name="title" #title="ngModel" [(ngModel)]="apiService.request.title" class="form-control" required
            minlength="3">
        </div>
        <div class="form-group">
          <label>Описание</label>
          <textarea name="Description" #Description="ngModel" [(ngModel)]="apiService.request.description"
            class="form-control" rows="5" id="comment" required></textarea>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="exampleFormControlSelect1">категория</label>
            <select name="category" class="form-control" id="exampleFormControlSelect1" #title
              [(ngModel)]="apiService.request.categoryId" required>
              <option *ngFor="let category of apiService.categories" [value]=category.id>{{category.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="exampleFormControlSelect2">исполнитель</label>
            <select name="Executor" class="form-control" id="exampleFormControlSelect2" #executor
              [(ngModel)]="apiService.request.executorId">
              <option value="">Не распределена</option>
              <option *ngFor="let executor of apiService.executors" [value]=executor.id>{{executor.fullName}}
              </option>
            </select>
          </div>



        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label for="exampleFormControlSelect3">Приоритет</label>
            <select name="priority" class="form-control" id="exampleFormControlSelect3" #priority
              [(ngModel)]="apiService.request.priorityId" required>
              <option *ngFor="let priority of apiService.priorities" [value]=priority.id>{{priority.name}}</option>
            </select>
          </div>


          <div class="col-md-6 col-sm-12">
            <label for="exampleFormControlSelect4">Общежитие</label>
            <select name="dorm" class="form-control" id="exampleFormControlSelect4" value="{{dorm}}" #dorm
              [(ngModel)]="apiService.request.dormId" required>
              <option *ngFor="let dorm of apiService.dorms" [value]=dorm.id>{{dorm.address}}</option>
            </select>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <label for="room">Квартира</label>
            <input id="room" name="room" #Title="ngModel" [(ngModel)]="apiService.request.room" class="form-control"
              required minlength="3">
          </div>

          <div class="col-md-6">

            <label for="inputGroupFile01">Изображения</label>
            <div class="custom-file">
              <input multiple accept='image/*' type="file" #file name="file" (change)="setFiles(file.files)"
                class="custom-file-input" id="customFileLang" lang="ru" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Выбирете файлы для загрузки</label>
            </div>

          </div>
        </div>
      </div>
      <img *ngFor="let image of apiService.images" [src]=image class="rounded mx-auto d-block m-3" style="width:80%">

      <div class="form-group ">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="reqforma.invalid">
          <i class="fas fa-database"></i> Сохранить</button>
      </div>
    </form>
  </div>
</div>
