<app-nav></app-nav>
<div class="card m-5" style="width: 18rem" >
<ul class="list-group">
  <li class="list-group-item"><strong>UserName: </strong>{{service.currentUser.userName}}</li>
  <li class="list-group-item"><strong>FullName: </strong>{{service.currentUser.fullName}}</li>
  <li class="list-group-item"><strong>email: </strong>{{service.currentUser.email}}</li>
  <li class="list-group-item"><strong>role: </strong>{{service.currentUser.role}}</li>
</ul>
</div>
<button class="btn btn-danger" id="bub" (click)="onClick()">UUUU</button>
<p>{{str}}</p>