
          
         <table  class="table table-dark table-hover shadow rounded-lg">
          <thead>
            <th *ngIf="!mobile">#</th>
            <th>Логин</th>
            <th>ФИО</th>
            <th id="hrole" (click)="filterByRole()">Роль</th>
            <th  *ngIf="!mobile">e-mail</th>
          </thead>
          <tbody>                     
            <tr  *ngFor="let user of apiService.users; let i = index"   (click)="bum(i)">
             
              <td   *ngIf="!mobile">{{apiService.users.indexOf(user)}}</td>
                <td  ><p >{{user.userName}}</p></td>
                <td *ngIf="apiService.users.indexOf(user)!=itemIndex" >{{user.fullName}}</td>
                <td *ngIf="apiService.users.indexOf(user)!=itemIndex" >{{user.role.rusName}}</td>
                <td  *ngIf="!mobile&&!apiService.users.indexOf(user)!=itemIndex">{{user.email}}</td>
                <td *ngIf="apiService.users.indexOf(user)!=itemIndex"><button  *ngIf="!mobile" class="btn btn-danger m-1" (click)="onDelete(user.id)">Удалить</button></td>                
              <td *ngIf="apiService.users.indexOf(user)==itemIndex" colspan="7" style="text-align: center">
                  <button class="btn btn-success m-1" (click)="apiService.showExecutorRequests(user.userName)">Просмотреть заявки</button>
                  <button class="btn btn-success m-1" (click)="onClick(user)">Изменить</button>
                  <button  *ngIf="!mobile" class="btn btn-danger" (click)="onDelete(user.id)">Удалить</button>
              </td>
              </tr>  


          </tbody>          
        </table> 

 


