.high{
    background-color:#dc3545
}
.middle{
    background-color:gold
}
.low{
    background-color:#28a745
    
}

.ellipsis {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.smallfont {
    width: 20px; 
    font-size: 0.6em
}